<footer>
  <div class="footer">
    <div class="left">
      <h1 class="pb-3">Get in Touch</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, eius!
      </p>
      <div class="footer-icon-l">
        <div class="footer-icons-l">
          <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="footer-icons-l">
          <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="footer-icons-l">
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-r">
        <i class="fa-solid fa-basketball"></i>
        <br />
        <p>dribble.com/tahsan</p>
      </div>
      <div class="right-l">
        <i class="fa-solid fa-envelope"></i>
        <br />
        <p>
          contact/<a
            class="anchor-tag"
            style="text-decoration: none"
            href="mailto:tahsanzahid17@gmail.com"
            >tahsan</a
          >
        </p>
      </div>
    </div>
    <br />
    <div class="pt-3" style="text-align: center">
      <p class="p-0">Created by Tahsan</p>
      <p class="p-0">©Document Management</p>
    </div>
  </div>
</footer>
